<% if(typeof flash_error_message!== 'undefined' && flash_error_message!=''){ %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="icon fa fa-ban"></i> <%= flash_error_message %>
    </div>
<% } %>
<% if(typeof error_message!== 'undefined' && error_message!=''){ %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="icon fa fa-ban"></i> <%= error_message %>
    </div>
<% } %>
<% if(typeof flash_success_message!== 'undefined' && flash_success_message!=''){ %>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="icon fa fa-check"></i> <%= flash_success_message %>
    </div>
<% } %>
<% if(typeof success_message!== 'undefined' && success_message!=''){ %>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="icon fa fa-check"></i> <%= success_message %>
    </div>
<% } %>
