</div><!-- /.content-wrapper -->
<div class="overlay" id="spinner">
        <div id="loading-img"></div>
    </div>
    <style type="text/css">
    #loading-img {
        background: url(/images/loading.gif) center center no-repeat;
        height: 100%;
        z-index: 1051;
    }
    .overlay {
        background: #e9e9e9;  
        display: none;        
        position: fixed;   
        top: 0;               
        right: 0;         
        bottom: 0;
        left: 0;
        opacity: 0.7;
        height: 100vh;
        z-index: 999999;
    }
    </style>
<footer class="main-footer">
    <strong><%= site.copyright %></strong>
</footer>
