<style type="text/css">
.dropdown.user.user-menu > span {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
</style>

<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="<%= site.site_url %>people/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="/images/logo.png" style="width:auto; height:auto;" class="" alt="User Image"/></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="/images/logo.png" style="width:auto; height:auto;" class="" alt="User Image"/></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
						<span>Welcome Test User</span>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="date-time-text">
                                <strong>
                                    <%= new Date().toDateString(); %><br/>
                                    <span id="ct"></span>
                                </strong>
                            </span>
                            <span class="hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p>Test User</p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <% include ../partials/sidebar %>
    <div class="content-wrapper">
