        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
			<%= page_title %> | <%= site.title %>
        </title>
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<!-- loading stylesheets -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/AdminLTE.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/blue.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/_all-skins.min.css"/>

		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>

		<!-- loading scripts  -->
		<script type="text/javascript" src="/javascripts/jQuery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui_1.11.4.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/javascripts/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/moment.min.js"></script>
		<script type="text/javascript" src="/javascripts/app.min.js"></script>

        <script type="text/javascript">
            $(function() {
				$('#example2').DataTable({
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': true,
                    'autoWidth': false
                });
            });
		</script>
		<script type="text/javascript"> 
		function display_c(){
			var refresh=1000; // Refresh rate in milli seconds
			mytime=setTimeout('display_ct()',refresh)
		}


		function display_ct() {
			var strcount
			var date = new Date()
			
			var hours = date.getHours();
			var minutes = date.getMinutes();
			var second = date.getSeconds();
			var ampm = hours >= 12 ? 'PM' : 'AM';
				hours = hours % 12;
				hours = hours ? hours : 12; // the hour '0' should be '12'
				minutes = minutes < 10 ? '0'+minutes : minutes;
				second = second < 10 ? '0'+second : second;
			var strTime = hours + ':' + minutes +':'+second+' ' + ampm;
			

		
			document.getElementById('ct').innerHTML = strTime;
			tt=display_c();
		}
		
		</script>