<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
			<li class="<%= typeof tab_open !== 'undefined' && tab_open == 'people' ? 'active' : '' %> treeview">
				<a href="<%= site.site_url %>people/"><i class="fa fa-group"></i><span>People</span></a>            
			</li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
