<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head_scripts %>		
    </head>
    <body class="hold-transition skin-blue sidebar-mini" onload=display_ct();>
        <% include ../partials/header %>
      	<!-- rest of the code goes here. create copies of this file and modify it accordingly. -->
        <% include ../partials/footer %>
    </body>
</html>
