.pagination > li > a, .pagination > li > span {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #4c4c8b;
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #4c4c8b;
    border-color: #4c4c8b !important;
}
.pagination.squared {
    border-radius: 0 !important;
}

.pagination.squared li:first-child a, .pagination.squared li:first-child > span {
    border-bottom-left-radius: 0px !important;
    border-left-width: 1px;
    border-top-left-radius: 0px !important;
}

.pagination.squared li:last-child > a, .pagination.squared li:last-child > span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.pagination-blue li a {
    background: #f7f7f8;
    border: none !important;
    color: #8e8e93;
    display: inline-block;
    margin-right: 1px;
}
.pagination-blue li a:hover {
    background: #e7e7e9;
    color: #424246;
    cursor: pointer;
}
.pagination-blue li:first-child a {
    border: none !important;
}
.pagination-blue li.disabled a {
    background: #f7f7f8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}
.pagination-blue li.disabled a:hover, .pagination-blue li.disabled a:focus {
    background: #f7f7f8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    cursor: default !important;
}
.pagination-blue li.active a {
    background: #5F8295 !important;
    border: none !important;
    color: #ffffff !important;
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.pagination-blue li [class^="fa-"], .pagination-blue li [class*=" fa-"], .pagination-blue li [class*="ti-"] {
    color: #5F8295;
}

.pagination-green li a {
    background: #f7f7f8;
    border: none !important;
    color: #8e8e93;
    display: inline-block;
    margin-right: 1px;
}
.pagination-green li a:hover {
    background: #e7e7e9;
    color: #424246;
    cursor: pointer;
}
.pagination-green li:first-child a {
    border: none !important;
}
.pagination-green li.disabled a {
    background: #f7f7f8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}
.pagination-green li.disabled a:hover, .pagination-green li.disabled a:focus {
    background: #f7f7f8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    cursor: default !important;
}
.pagination-green li.active a {
    background: #1FBBA6 !important;
    border: none !important;
    color: #ffffff !important;
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.pagination-green li [class^="fa-"], .pagination-green li [class*=" fa-"], .pagination-green li [class*="ti-"] {
    color: #1FBBA6;
}

.pagination-red li a {
    background: #f7f7f8;
    border: none !important;
    color: #8e8e93;
    display: inline-block;
    margin-right: 1px;
}
.pagination-red li a:hover {
    background: #e7e7e9;
    color: #424246;
    cursor: pointer;
}
.pagination-red li:first-child a {
    border: none !important;
}
.pagination-red li.disabled a {
    background: #f7f7f8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}
.pagination-red li.disabled a:hover, .pagination-red li.disabled a:focus {
    background: #f7f7f8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    cursor: default !important;
}
.pagination-red li.active a {
    background: #C82E29 !important;
    border: none !important;
    color: #ffffff !important;
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.pagination-red li [class^="fa-"], .pagination-red li [class*=" fa-"], .pagination-red li [class*="ti-"] {
    color: #C82E29;
}
.breadcrumb {
  background: transparent none repeat scroll 0 0;
  border-radius: 2px;
  float: right;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px 5px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb2 h2 {font-size:25px;text-align: center;}
.breadcrumb1 h1, .breadcrumb2 h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.pagination .previous{
    border-radius: 5px;
    color: #4c4c8b;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 0px;
}

.pagination a{
    border-radius: 5px;
    color: #4c4c8b;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd !important
}

.pagination .current{
    background: #4c4c8b none repeat scroll 0 0 !important;
    border: 1px solid #4c4c8b !important;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 10px;
}

.pending-approvals span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}

.pending-approvals span label {
    padding: 2px;
    font-size: 10px;
}

 a.asc::before {
    content: "\25b2 ";
        border: 1px solid;
    color: #ccc;
    font-size: 10px;
    margin-right: 3px
}
 a.desc::before {
    content: "\25bc ";
    border: 1px solid;
    color: #ccc;
    font-size: 10px;
    margin-right: 3px
}

table.split-fare-users {
    margin-bottom: 33px;
    margin-left: 74px;
    width: 34%;
}

.table > thead > tr > th {
    border-bottom:1px solid #ddd;
    vertical-align: top !important;
}
.modal {
    left: 50%;
    bottom: auto;
    right: auto;
    padding: 0;
    width: 500px;
    margin-left: -250px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}
.csspinner { position: relative; }
.text-center { text-align: center; line-height: 14px; }

.csspinner:before { content: ""; z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(255, 255, 255, 0.8); }
.csspinner:after { z-index: 2; content: ""; position: absolute; -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; }
.load1:after { width: 30px; height: 30px; top: 50%; left: 50%; margin: -15px 0 0 -15px; border-radius: 50%; border-top: 2px solid rgba(0, 0, 0, 0.2); border-right: 2px solid rgba(0, 0, 0, 0.2); border-bottom: 2px solid rgba(0, 0, 0, 0.2); border-left: 2px solid #c30e23; -webkit-animation: load1 1.1s infinite linear; animation: load1 1.1s infinite linear; }
 @-webkit-keyframes load1 {  0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@keyframes load1 {  0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

/*custom css*/
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

/**/

label {
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}
.pagination {
    margin: 0 0 10px;
}
.dataTables_filter {
    text-align: right;
}
.Select-box {
    line-height: 34px;
    display: inline-block;
    height: 34px;
    margin-right: 10px;
    padding: 0 7px;
}
.result-update {
    width: 100%;
}
.result-update input {
    display: inline-block;
    width: 80px;
    margin-right: 5px;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 22px;
}
.result-update button.btn.btn-primary {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    line-height: 14px;
    font-size: 13px;
}
.box-body h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

.result-update input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}
.view-btn {
    display: inline-block;
    vertical-align: middle;
}
.view-btn .btn {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 12px;
    width: 90px;
    vertical-align: top;
    margin-top: 0;
}
.result-update select {
    line-height: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}



.match-part .form-group label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.match-part .form-group input {
    display: block;
    font-size: 18px;
    font-weight: 600;
	width:100%;
	padding:5px 10px;
	border:1px solid #ddd;
	outline:none;
}
.Toss-col {
    background-color: #FFF;
    box-shadow: 5px 5px 5px #eee;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    font-size: 18px;
}
.match-part h2 {
    margin-top: 0;
}
.TVPart {
	background-color:#000;
	position:relative;
	height:150px;
	margin-top:15px;
}
.TVPart .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 18px;
}
.tv-footer {
    padding: 1px;
    background-color: #FFF;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 4px;
}
.gray-text {
    color: #999;
}
.player-col {
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0 0 15px;
    border-radius: 0;
}
.player-text {
    border-right: 1px solid #ccc;
    padding: 3px 0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.player-text.bdrn {
    border-right:0;
}
.player-text span {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    text-align: left;
}
.run-text-part strong {
	margin-bottom:15px;
	font-size:18px;
	display:block;
}
.run-text-part ul {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}
.run-text-part ul li, .Toss-col ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    font-size: 13px;
    background-color: #eee;
    width: 36px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    height: 36px;
    line-height: 27px;
}
.run-text-part ul li:hover, .run-text-part ul li:focus, .run-text-part ul li.active, .Toss-col ul li:hover, .Toss-col ul li:focus, .Toss-col ul li.active {
    background-color: #32327a;
	color:#FFF;
}
.Toss-col strong {
	width:100px;
	display:inline-block;
	vertical-align:middle;
}
.Toss-col ul {
	padding: 0;
    margin: 0 0 0 15px;
    list-style: none;
	display:inline-block;
	vertical-align:middle;
}

/* checkbox css start */

.custome_checkboxs {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    margin-top: -70px;
  }
  

/* Hide the browser's default checkbox */
.custome_checkboxs input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custome_checkboxs:hover input ~ .checkmark {
  background-color:#4c4c8b;
}

/* When the checkbox is checked, add a blue background */
.custome_checkboxs input:checked ~ .checkmark {
    background-color: #32327a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.custome_checkboxs input:checked ~ .runscore_text {
   color: #fff;
  }

  .custome_checkboxs:hover input ~ .runscore_text {
    color: #fff;
  }

  .runscore_text {
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
    bottom: 0;
    color: #000;
    z-index: 9;
    text-align: center;
    margin: auto;
    width: 35px;
}
.checkboxlisting_main ul {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    padding-left:75px;
}
.checkboxlisting_main ul li {
    width: 50px;
    display: inline-block;
}
.checkboxlisting_main {
    width: 100%;
    display: inline-block;
    margin:5px 0 0;
}

.checkboxlisting_main ul.Taken {
    padding: 0;
}
.checkboxlisting_main ul.Taken li {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.checkboxlisting_main ul.Taken li label.custome_checkboxs {
    display: block;
    margin: 0;
    width: auto;
    height: 25px;
    margin-top:0px;
    margin-right: 5px;
}
ul.Taken label small.runscore_text{
    position: relative !important;
    text-align: center;
    display: block;
    top: 0;
    line-height: 24px;
    width: auto;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.Taken label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: #eee;
    border-radius: 0;
    display: block;
}
button.btn.btn-info.update-btn {
    width: 100%;
    padding: 3px 3px 2px;
    border-radius: 0;
}
.mt-0 {
    margin-top: 0;
}
.mb-1 {
    margin-bottom: 10px;
    display: block;
}


.closelist li {
    position: relative;
}
.closeicon_part {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    line-height: 36px;
    top: 0;
    color: #fff;
    display: none;
}
.closelist li:hover .closeicon_part {display: block;}

/* ADMIN HEADER CSS */
.skin-blue .main-header .logo {
    background-color: #3d3d7d;
    color: #ffffff;
    height: 70px;
}

.skin-blue .main-header .logo:hover {
    background-color: #3d3d7d;
}

.logo-lg img {
    width: 92px !important;
}

/* prevent checkbox from clicking */
.checkbox_event {
    pointer-events: none;
}

/* hiding certain elements */
.no_display {
	display: none;
}