<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head_scripts %>
</head>

<body class="hold-transition skin-blue sidebar-mini" onload=display_ct();>
    <% include ../partials/header %>
    <section class="content-header">
        <div class="row">
            <div class="col-sm-3 breadcrumb1">
                <h1>People List</h1>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <form id="search_form" action="<%= site.site_url %>people/" method="GET">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input type="text" name="peopleName" id="peopleName" class="form-control" value="<%= peopleName  %>" placeholder="Search by name">
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" id="submit_button" class="btn btn-info">Search</button>
                                            <a href="<%= site.site_url %>people/ %>" class="btn">Reset</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <% include ../partials/error %>
                        <table id="example2" class="table table-bordered table-hover" aria-describedby="example2_info">
                            <thead>
                                <tr>
                                    <th scope="col"> Serial No.</th>
                                    <th scope="col"> User Name</th>
                                    <th scope="col"> First Name</th>
                                    <th scope="col"> Last Name</th>
                                    <th scope="col"> Gender</th>
                                    <th scope="col"> Emails</th>
                                    <th scope="col"> Address</th>
                                    <td> Action </td>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(peopleList.length>0){ %>
                                <% let i = 1; %>
                                <% peopleList.forEach(function(row){ %>
                                <tr>
                                    <td width="10%">
                                        <%= i++%>
                                    </td>
									<td><%= row.UserName %></td>
									<td><%= row.FirstName %></td>
									<td><%= row.LastName %></td>
									<td><%= row.Gender %></td>
									<td><%= row.Emails.join(", ") %></td>
									<td><%= row.AddressInfo && row.AddressInfo.length > 0 ? row.AddressInfo[0].Address + ", " + row.AddressInfo[0].City.Name + ", " + row.AddressInfo[0].City.ID + ", " + row.AddressInfo[0].City.CountryRegion : '' %></td>
                                    <td>
                                        <div class="result-update">
                                            <div class="view-btn">
                                                <a href="javascript:void(0)" id="people_view_<%= row.UserName %>" data-target="modal"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                                <% } %>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
	
	<div id="viewPeopleModal" class="modal fade" tabindex="-1" data-width="760" style="display: none;overflow-y:scroll;max-height:500px;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="modalTitle">View People</h4>
		</div>
		<div class="modal-body" id="modalContent">
					
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', 'a[id^=people_view_]', function () {
                let userName = $(this).attr("id").replace('people_view_', '');
				$.ajax({
                    type: 'POST',
                    url: '<%= site.site_url %>people/getPeopleItem',
                    data: {
						userName : userName
					},
                    success: function (data) {
						let peopleHtml = '';
                        if(data.code == 0) {
                            let peopleData = data.data;
							peopleHtml = '<table id="example" class="table table-bordered table-hover" aria-describedby="example2_info"><tr><th scope="col"> User Name</th><td scope="col"> ' + peopleData.UserName + '</td></tr><tr><th scope="col"> First Name</th><td scope="col"> ' + peopleData.FirstName + '</td></tr><tr><th scope="col"> Last Name</th><td scope="col"> ' + peopleData.LastName + '</td></tr><tr><th scope="col"> Gender</th><td scope="col">  ' + peopleData.Gender + '</td></tr><tr><th scope="col"> Emails</th><td scope="col">  ' + peopleData.Emails.join(', ') + '</td></tr><tr><th scope="col"> Features</th><td scope="col">' + peopleData.Features.join(', ') + '</td></tr><tr><th scope="col"> Favorite Feature</th><td scope="col">' + peopleData.FavoriteFeature + '</td></tr><tr><th scope="col"> Address</th><td scope="col"> ' + (peopleData.AddressInfo && peopleData.AddressInfo.length > 0 ? peopleData.AddressInfo[0].Address + ', ' + peopleData.AddressInfo[0].City.Name + ', ' + peopleData.AddressInfo[0].City.Region + ', ' + peopleData.AddressInfo[0].City.CountryRegion : '') + '</td></tr></table>';
                        }
						else{
							peopleHtml = 'Not found';	
						}
						$('#modalContent').html(peopleHtml);
						$("#viewPeopleModal").modal('show');
                    }
                });
            });
        });
    </script>
    <% include ../partials/footer %>
</body>

</html>